<section class="vh-100" style="background-color: #54b2cb;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-4 ">
        <div class="card" style="border-radius: 30px; height: 450px;">
          <div class="card-body p-8 text-center">

            <h2>Login</h2>
            <i class="bi bi-arrow-down-left"></i>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.password_field :password, class: "form-control", placeholder: "password", autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field form-group form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
